{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <!-- header__block -->
            <div class="header__logo">
                <h1 class="logo">Дизайнер - тоже программист!!!</h1>
            </div>
            <!-- header__block -->
        </div>
        <!-- header__wrapper -->
    </div>
    <!-- container -->
</header>
<section>
    <div class="body__container">
        <div class="body__wrapper">
            <!-- body__wrapper -->
            <div class="side__menu">
                <a class="side__menu__link" href="/">главная страница</a>
                <a class="side__menu__link" href="/demand">востребованность</a>
                <a class="side__menu__link" href="/geography">география</a>
                <a class="side__menu__link" href="/skills">навыки</a>
                <a class="side__menu__link" href="/vacancies">последние вакансии</a>
            </div>

            <div class="content">
                <p  class="content__text">UX/UI-дизайн — это проектирование удобных, понятных и эстетичных пользовательских интерфейсов. Чтобы разобраться, какие задачи решает специалист в этой сфере, нужно понять, что такое UX и UI.

                    UX — user experience — переводится на русский язык как «пользовательский опыт». Это понятие включает в себя навигацию по сайту или приложению, состав функций внутри цифрового продукта, понятный текст.

                    UX-дизайнер — специалист, задача которого сделать продукт удобным, понятным и логичным для всех пользователей. От его работы зависит, сможет ли клиент быстро и удобно получить желаемую услугу. Перед запуском продукта он всегда совершает большую подготовительную работу: проводит аудит конкурентов, опрашивает пользователей, изучает целевую аудиторию сайта или приложения.

                    UI — user interface — это пользовательский интерфейс: наполнение сайта, систематизация элементов, выбор цветов, построение визуальной композиции, оформление кнопок, колонок и других графических элементов. Всем этим занимается UI-дизайнер.
                </p>
                <img class="img__for__stat" src="{% static 'img/main/main_img_1.jpg' %}">
            </div>
            <!-- body__wrapper -->
        </div>
    </div>
</section>
<footer>
    <p class="footer__text">Зайцев Дмитрий Алексеевич РИ-220932</p>
</footer>
</body>
</html>